<footer class="footer">
  <div class="row align-items-center justify-content-between">
    <div class="col-auto">
      <div class="copyright text-muted">
        © {{ "now"|format_datetime("%Y") }} <strong>Marco Pharma SARL</strong>
        <br><small class="text-muted">Développé par Rama L. Kevin - Tech & Beyond</small>
      </div>
    </div>
    <div class="col-auto">
      <ul class="nav nav-footer">
        <li class="nav-item">
          <a href="{{ url_for('settings.index') }}" class="nav-link">
            <i class="ni ni-settings-gear-65"></i> Paramètres
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

